@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Rowdies', cursive;
    width: 100%;
}

h1 {
    margin: 50px;
}

.display {
    display: flex;
    justify-content: center;
}

.display div:not(:last-child) {
    margin-right: 50px;
}

.display div {
    border: 2px solid black;
    padding: 15px;
}

p {
    margin: 5px;
}
